// 列表用户
var userTo = function(id,userArr){
    return userArr[0].id == id?userArr[1]:userArr[0]
}

//群头像宽度
var imgArrlength = function(imgArr){
    var length = imgArr.length
    if(length <= 4){
        return '50%'
    }else{
        return '33%'
    }
}

var imgArr = function(imgArr){
    return imgArr.slice(0, 9)
}

// 未读消息
var unread = function(id,arr){
    var _i = 0
    for (var i = 0; i <= arr.length; ++i) {
        if( arr[i] == id){
            _i += 1
        };
      }
    return _i
}

var aidoeUrl =  function(str,url){
    var s = JSON.parse(str)
    if(url){
        return s.url
    }else{
        return s.duration
    }
}

// 事件戳
var times = function(a){
    var now = getDate();
    var minute = 1000 * 60;      //把分，时，天，周，半个月，一个月用毫秒表示
    var hour = minute * 60;
    var day = hour * 24;
    var week = day * 7;
    var month = day * 30;
    var diffValue = now - getDate(a);//时间差
    if (diffValue < 0) {
      return;
    }
    var minC = diffValue / minute;  //计算时间差的分，时，天，周，月
    var hourC = diffValue / hour;
    var dayC = diffValue / day;
    var weekC = diffValue / week;
    var monthC = diffValue / month;
    if (monthC >= 1 && monthC <= 3) {
      result = " " + parseInt(monthC) + "月前"
    } else if (weekC >= 1 && weekC <= 3) {
      result = " " + parseInt(weekC) + "周前"
    } else if (dayC >= 1 && dayC <= 6) {
      result = " " + parseInt(dayC) + "天前"
    } else if (hourC >= 1 && hourC <= 23) {
      result = " " + parseInt(hourC) + "小时前"
    } else if (minC >= 1 && minC <= 59) {
      result = " " + parseInt(minC) + "分钟前"
    } else if (diffValue >= 0 && diffValue <= minute) {
      result = "刚刚"
    } else {
      var datetime = getDate();
      datetime.setTime(dateTimeStamp);
      var Nyear = datetime.getFullYear();
      var Nmonth = datetime.getMonth() + 1 < 10 ? "0" + (datetime.getMonth() + 1) : datetime.getMonth() + 1;
      var Ndate = datetime.getDate() < 10 ? "0" + datetime.getDate() : datetime.getDate();
      var Nhour = datetime.getHours() < 10 ? "0" + datetime.getHours() : datetime.getHours();
      var Nminute = datetime.getMinutes() < 10 ? "0" + datetime.getMinutes() : datetime.getMinutes();
      var Nsecond = datetime.getSeconds() < 10 ? "0" + datetime.getSeconds() : datetime.getSeconds();
      result = Nyear + "-" + Nmonth + "-" + Ndate
    }
    return result;
  
  }

var strSlice = function(str){
    return str.slice(12)
}
module.exports = {
    userTo:userTo,
    unread:unread,
    times:times,
    aidoeUrl:aidoeUrl,
    strSlice:strSlice,
    imgArr:imgArr,
    imgArrlength:imgArrlength
}
